<h1>404 ошибка</h1>
<p style="color: #fff; font-size:20px; text-align:center">Страница не найдена</p>
<a class="hover" href="/" style="color: #fff; text-align:center;display:block">Вернуться на глагныю</a>